<h1><%= room.name %></h1>
<pre>
    <%= room.description %>
</pre>

<% if room.name == 'death' || room.name == 'The End' %>     
    <p> 
        <pre> <%= room.message %> </pre>
<<<<<<< HEAD
        <%= room.cleanMessage() %>
=======
        <% room.clean_message() %>
>>>>>>> f18e3bb78a80bd063fa496889e182b76e580cf48
        <a href="/"> Play again?</a>
    </p>

<% else %>
    
    <% if room.name == 'Laser Weapon Armory' %>
        
        <pre> <%= room.message %> 
        Hint: <%= room.getHint() %> </pre>
        <form action "/game" method="POST">
            [keypad]> <input type="text" name="action">
            <input type="SUBMIT">
        </form>
    
    <% else %>
    
        <p><form action "/game" method="POST">
            What are you gonna do? - <input type="text" name="action">
            <input type="SUBMIT">
        </form></p>
    
    <% end %>
<% end %>