<h1><%= room.name %></h1>

<pre>
    <%= room.description %>
</pre>

<% if room.name == 'death' || room.name == 'The End' %>    
    
    <p> 
        <pre> <%= room.message %> </pre>
        <a href="/"> Play again?</a>
    </p>

<% else %>
    
    <% if room.name == 'Laser Weapon Armory' %>
        
        <pre> <%= room.message %> 
        Hint: <%= room.get_hint() %> </pre>
        <form action "/game" method="POST">
            [keypad]> <input type="text" name="action">
            <input type="SUBMIT">
        </form>
    
    <% else %>
    
        <p>
            <form action "/game" method="POST">
                What are you gonna do? - <input type="text" name="action">
                <input type="SUBMIT">
            </form>
        </p>
    
    <% end %>
<% end %>