
<div class="scroll">
    <div class="scrollContainer">
        <div class="panel" id="home">
            <h2><%= room.name %></h2>   
                <div class="col_400 float_l">
                    <p align="justify"><em><%= room.description %></em></p>       
                    <p>
                        <!-- Game Over or Win -->
                        <% if room.name == 'Game Over' || room.name == 'The End' %>     
                            <p align="justify"> 
                                <em> <%= room.message %> </em>
                                <%= room.message = "" %> <!-- Important! Clean room message -->
                                </br></br>
                                <a href="/game"> Play again?</a>
                            </p>

                        <% else %>
                            <!-- In the case that the room is Laser Weapon Armory we are gonna need to add a Hint -->
                            <% if room.name == 'Laser Weapon Armory' %>
                                <p align="justify">
                                    <em> <%= room.message %> </em>
                                    <em>Hint: <%= room.getHint() %> </em> <!-- Hint here! -->
                                <p>
                                <form action "/game" method="POST">
                                    [keypad]> <input type="text" name="action">
                                    <input type="SUBMIT">
                                </form>
                            
                            <!-- For any other room let's just keep this ok? -->
                            <!-- TO-DO: validate null D:! -->
                            <% else %>
                                <p>
                                    <form action "/game" method="POST">
                                        What are you gonna do? - <input type="text" name="action">
                                        <input type="SUBMIT">
                                    </form>
                                </p>    
    
                            <% end %>
                        <% end %>
                    </p>
                </div>
